.border-dashed
  border: 2px dashed #ccc
  cursor: pointer
  transition: all 0.2s

  &:hover
    background-color: #f8f9fa
    border-color: #aaa

.is-invalid 
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
