<div class="container py-4">
  <h2 class="mb-4">{{ id ? 'Rendelés szerkesztése' : 'Új rendelés felvétele' }}</h2>

  <div *ngIf="!id">

    <div class="mb-3">
      <label class="form-label">Rendelés Azonosító</label>
      <input type="text" class="form-control" [(ngModel)]="order.id">
    </div>
    
    <div class="mb-3">
      <label class="form-label">Rendelés neve</label>
      <input type="text" class="form-control" [(ngModel)]="order.orderName">
    </div>

    <div class="mb-3">
      <label class="form-label">Telepítési cím</label>
      <input type="text" class="form-control" [(ngModel)]="order.installationAdress">
    </div>

    <div class="mb-3">
      <label class="form-label">Telefonszám</label>
      <input type="text" class="form-control" [(ngModel)]="order.phoneNumber">
    </div>

    <div class="mb-3">
      <label class="form-label">Email cím</label>
      <input type="email" class="form-control" [(ngModel)]="order.email">
    </div>

    <div class="mb-3">
      <label class="form-label">Határidő</label>
      <input type="date" class="form-control" [(ngModel)]="order.deadline">
    </div>

  </div>

  <div *ngIf="id && orderService.selectedOrder">
    
    <div class="mb-3">
      <label class="form-label">Rendelés neve</label>
      <input type="text" class="form-control" [(ngModel)]="orderService.selectedOrder.orderName">
    </div>

    <div class="mb-3">
      <label class="form-label">Telepítési cím</label>
      <input type="text" class="form-control" [(ngModel)]="orderService.selectedOrder.installationAdress">
    </div>

    <div class="mb-3">
      <label class="form-label">Telefonszám</label>
      <input type="text" class="form-control" [(ngModel)]="orderService.selectedOrder.phoneNumber">
    </div>

    <div class="mb-3">
      <label class="form-label">Email cím</label>
      <input type="email" class="form-control" [(ngModel)]="orderService.selectedOrder.email">
    </div>

    <div class="mb-3">
      <label class="form-label">Határidő</label>
      <input type="date" class="form-control" [(ngModel)]="orderService.selectedOrder.deadline">
    </div>

  </div>

  <div class="mt-4">
    <button class="btn btn-success me-2" (click)="save()">Mentés</button>
    <button class="btn btn-secondary" routerLink="/orders">Mégse</button>
  </div>

</div>